*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
#main-container{
    width: 100%;
    height: auto;
}
.input-group{
    position: relative;
    display: flex;
}
.input-group-icon{
    position: absolute;
    left: 20px;
    top: 0px;
    z-index: 1;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}
#bg-container_1{
    background-image: url('./Rectangle\ 54.png');
    overflow: hidden;
}
#bg-container_2{
    background-image: url('./Rectangle\ 54\ \(1\).png');
    overflow: hidden;
}
#bg-container_2{
    background-image: url('./Rectangle\ 54\ \(2\).png');
    overflow: hidden;
}